@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.bebas {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-variation-settings: "wdth" 100;
}

* {
  padding: 0;
  margin: 0;
}

body{
  max-width: 1280px;
}


nav {
  display: flex;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 34px auto 17px;
  justify-content: end;
  width: 1280px;
  height: 24px;
}

nav ul a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  padding-right: 39px;
}




/* RESPONSIVE MEDIA QUERY */


/* small device */
@media screen and (max-width:576px;) {
  nav {
    max-width: 576px;
    justify-content: end;
  }
}
/* medium device */
@media screen and (min-width:576px;) and (max-width:992px;) {
  nav {
    max-width: 992px;
    justify-content: end;
  }
}
/* large device */
@media screen and (min-width:992px;) and (max-width:1200px;) {
  nav {
    max-width: 1200px;
    justify-content: end;
  }
}